.social-media .contact a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
}

.social-media .contact {
    margin: 10px 12px;
}

.social-media .social {
    color: whitesmoke;
    font-size: 30px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social a {
    color: whitesmoke;
    cursor: pointer;
}

.social a:hover {
    color: #a07037;
    transition: 0.5s;
    transition-timing-function: ease;
}

ul a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
}

.nav {
    position: fixed;
    width: 15%;
    background-color: #101010;
    padding: 30px 40px;
    height: 100vh;
    overflow-y: auto;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.side-nav .logo {
    margin-bottom: 12rem;

}

.side-nav .nav-bar ul {
    list-style: none;
}

.side-nav .nav-bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.side-nav .logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url('../images/Logo.jpeg');
    background-position: center;
    background-repeat: round;
}

/* .nav-bar ul li:hover {
    background-color: rgb(54, 53, 53);
} */

.side-nav .nav-bar ul li {
    margin: 1.2rem;
    color: whitesmoke;
    font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .contact {
        color: red;
    }
}

/* Test for Nav */

.overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    width: 0;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}

.overlay a {
    display: block;
    color: #818181;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    transition: 0.2s;
}

.overlay a:focus,
.overlay a:hover {
    color: #f1f1f1;
    cursor: pointer;
}

.overlay .closebtn {
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 992px) {
    .nav {
        position: fixed;
        width: 15%;
        background-color: #101010;
        padding: 20px 8px;
        height: 100vh;
        overflow-y: auto;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
    }
}


@media only screen and (max-width: 768px) {
    .nav {
        position: fixed;
        width: 20%;
        background-color: #101010;
        padding: 0px 0px;
        height: 100vh;
        overflow-y: auto;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
    }

    .side-nav .logo {
        margin-bottom: 8rem;
    }
}

@media only screen and (max-width: 425px) {
    .nav {
        display: none;
    }
}

@media only screen and (max-width: 1560px) {
    .nav {
        width: 18%;
        height: 100%;
    }
    .side-nav .logo {
        margin-bottom: 5rem;
    
    }
}

@media only screen and (min-width:1440px) {
    .social-media .contact {
        margin: 13px;
    }
}